@model IEnumerable<ToDoList.Models.ToDo>

@{
    ViewBag.Title = "Index";
}

<h2>Suas Tarefas</h2>

<p>
    @Html.ActionLink("Criar nova tarefa", "Create")
</p>

<div id="tableDiv"></div>

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BuildTable.js"></script>
    }

